*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection {
    color: var(--puzzle-bg-colour, #f0eefc);
    background-color: var(--text, #000);
}

:root {
    --text: #000;
    --carton-colour: #b0916e;
    --teal-button: #008080;
    --outline-colour: rgba(112, 94, 70, 0.5);
    --puzzle-bg-colour: #f0eefc;
    --puzzle-border-colour: rgb(48, 45, 116);
    --restart-puzzle-button-bg-colour: rgb(107, 112, 212);
}

html {
    height: 100vh;
    height: 100svh;
    overflow: hidden;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    overflow: hidden;
    height: 100vh;
    height: 100svh;
    background-color: var(--carton-colour, #b0916e);
}

main {
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-image: url(images/body-mobile-image.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media (min-width: 992px) {
    main {
        background-image: url(images/body-desktop-image.png);
    }
}

main > div {
    width: 200%;
    height: 100%;
    max-height: 550px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all 200ms linear;
    display: flex;
    flex-direction: row;
}

/* home page */

.home-page {
    width: 100vw;
    height: 100%;
    position: relative;
}

.game-title {
    text-align: center;
    padding-top: 0;
}

.game-title > h1 {
    margin: 0;
    font-family: "Protest Revolution", sans-serif;
    font-size: 50px;
    padding: 0;
    user-select: none;
}

.game-title > div {
    font-size: 14px;
}

.wave-animated-button {
    overflow: hidden;
    position: relative;
}

.wave-animated-button > span {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    animation-name: button-wave-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.home-page-play-button {
    width: 125px;
    height: 35px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: var(--teal-button, teal);
    color: var(--text);
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-page-play-button:focus {
    border: none;
    outline: 2px solid var(--outline-colour, rgba(112, 94, 70, 0.5));
    outline-offset: 1px;
}

.home-page-play-button > span {
    width: 10px;
    height: 10px;
    outline: 5px solid rgba(255, 0, 0, 0.3);
}

@keyframes button-wave-animation {
    from {
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        transform: translate(-50%, -50%) scale(10);
    }
}

.random-facts {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 10%;
    padding: 10px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--outline-colour, rgba(112, 94, 70, 0.5));
}

.random-facts::before {
    content: "";
    background-color: var(--outline-colour, rgba(112, 94, 70, 0.5));
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: -9.9px;
    display: inline-block;
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

.random-facts-header {
    margin: 0;
    margin-bottom: 10px;
    font-family: "Protest Riot", sans-serif;
    font-size: 22px;
    font-weight: 400;
}

@media (max-height: 320px) {
    .random-facts {
        padding: 8px 13px;
    }

    .random-facts-header {
        margin-bottom: 4px;
        font-size: 22px;
    }

    .random-facts-main-content {
        font-size: 14px;
    }
}

/* menu page */

.menu-page {
    width: 100vw;
    height: 100%;
    position: relative;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    padding: 2px 15px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    transition: all 200ms ease-in;
}

.menu-item:hover {
    background-color: var(--outline-colour, rgba(112, 94, 70, 0.5));
}

.menu-item:focus {
    border: none;
    outline: 2px solid var(--outline-colour, rgba(112, 94, 70, 0.5));
    outline-offset: 1px;
}

@media (max-width: 320px) or (max-height: 320px) {
    .menu-item {
        font-size: 22px;
    }
}

.menu-item-page {
    background-color: #d0cfcf;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    transition: all 200ms linear;
    padding: 5px;
    overflow-y: auto;
}

.display-menu-item-page-with-js {
    top: 0;
}

.puzzle-page {
    background-color: var(--puzzle-bg-colour, #f0eefc);
    background-image: url(images/puzzle-mobile-image.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    .puzzle-page {
        background-image: url(images/puzzle-desktop-image.png);
    }
}

.back-to-main-menu-button {
    width: 100px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    padding: 5px 0;
    letter-spacing: 1px;
    background-color: var(--teal-button, teal);
    color: var(--text, #000);
    cursor: pointer;
    user-select: none;
    transform: skewX(-10deg);
    transition: all 200ms ease-in;
}

.back-to-main-menu-button:focus {
    border: none;
    border-radius: 6px;
    outline: 2px solid rgba(112, 94, 70, 1);
    outline-offset: 1px;
}

.back-to-main-menu-button > span {
    width: 10px;
    height: 10px;
    outline: 5px solid rgba(255, 0, 0, 0.3);
}

.how-to-play-main-content > p {
    margin: 0 0 15px;
    padding: 5px 0;
    position: relative;
}

.illustration-image {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .illustration-image {
        width: 400px;
        height: 300px;
    }
}

.controls-main-content > h3 {
    margin: 5px 0;
}

.controls-main-content > p {
    margin: 0;
}

.controls-main-content > ol {
    margin: 0;
    padding: 0 0 0 30px;
}

.contact-the-contributors > p {
    margin: 0;
}

.socials-icons {
    margin-top: 5px;
    text-align: center;
}

@media (min-width: 992px) {
    .socials-icons {
        text-align: left;
    }
}

.socials-icons > a {
    text-decoration: none;
    transition: all 200ms ease-in;
    display: inline-block;
    height: 20px;
}

.socials-icons > a:hover > svg {
    background-color: rgba(0, 0, 0, 0.1);
}
/* the puzzle */

.puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.puzzle {
    width: 100%;
    max-width: 350px;
    display: grid;
    border: 2px solid var(--puzzle-border-colour, rgb(48, 45, 116));
}

.cell {
    border: 1px solid rgb(180, 179, 198);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--puzzle-border-colour, rgb(48, 45, 116));
    transition: all 200ms ease-in;
}

.cell:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.cell:focus {
    outline: none;
    background-color: rgba(180, 217, 250, 0.7);
}

[data-default-value] {
    color: var(--text, #000);
}

/* states of the cells and their inputs (added with Js) */
.focused-cells-environment {
    background-color: rgba(213, 225, 239, 0.7);
}

.cell-is-in-wrong-row,
.cell-is-in-wrong-column,
.cell-is-in-wrong-block {
    background-color: rgba(249, 102, 80, 0.3);
}
/*  */

.easy-level-puzzle {
    grid-template-columns: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.medium-level-puzzle {
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hard-level-puzzle {
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* to add borders around the blocks */
div.border-right {
    border-right: 2px solid var(--puzzle-border-colour, rgb(48, 45, 116));
}

div.border-bottom {
    border-bottom: 2px solid var(--puzzle-border-colour, rgb(48, 45, 116));
}
/*  */

.puzzle-keyboard {
    width: 100%;
    max-width: 350px;
    display: grid;
    column-gap: 5px;
    row-gap: 10px;
}

.easy-level-puzzle-keyboard {
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.medium-level-puzzle-keyboard {
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
}

.hard-level-puzzle-keyboard {
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.puzzle-keyboard > button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: all 200ms ease-in;
}

.puzzle-keyboard > button:focus {
    border: none;
    outline: 2px solid var(--outline-colour, rgba(112, 94, 70, 0.5));
    outline-offset: 1px;
}

.puzzle-keyboard > button:not(:last-child) {
    font-size: 22px;
    background-color: #e0e6ee;
    color: var(--restart-puzzle-button-bg-colour, rgb(107, 112, 212));
}

.puzzle-keyboard > button:not(:last-child):hover {
    background-color: #d4dbe2;
}

.easy-level-puzzle-keyboard > button:not(:last-child),
.medium-level-puzzle-keyboard > button:not(:last-child) {
    padding: 7px 12px;
}

.restart-puzzle-button {
    padding: 10px 0;
    background-color: var(--restart-puzzle-button-bg-colour, rgb(107, 112, 212));
    color: #fff;
}

.restart-puzzle-button:hover {
    background-color: rgb(100, 105, 195);
}

.easy-level-puzzle-keyboard > .restart-puzzle-button {
    grid-column: 1 / span 4;
}

.medium-level-puzzle-keyboard > .restart-puzzle-button {
    grid-column: 1 / span 6;
}

.hard-level-puzzle-keyboard > .restart-puzzle-button {
    grid-column: 3 / span 5;
}

@media (min-width: 768px) {
    .puzzle-container {
        position: relative;
        top: 40%;
        transform: translateY(-40%);
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        align-items: flex-end;
    }

    .puzzle-keyboard {
        gap: 5px;
    }

    .easy-level-puzzle-keyboard {
        max-width: 200px;
        grid-template-columns: auto auto auto;
        justify-content: unset;
    }

    .medium-level-puzzle-keyboard {
        max-width: 200px;
        grid-template-columns: auto auto auto;
        justify-content: unset;
    }

    .hard-level-puzzle-keyboard {
        width: auto;
        height: 280px;
        grid-template-columns: 75px 75px 75px;
        grid-template-rows: auto auto auto 55px;
        justify-content: unset;
    }

    .easy-level-puzzle-keyboard > .restart-puzzle-button {
        grid-column: 2 / span 2;
        margin-top: 0;
    }

    .medium-level-puzzle-keyboard > .restart-puzzle-button {
        grid-column: 1 / span 3;
        margin-top: 5px;
    }

    .hard-level-puzzle-keyboard > .restart-puzzle-button {
        grid-column: 1 / span 3;
        margin-top: 5px;
    }

    .puzzle-keyboard>button:not(:last-child) {
        font-size: 30px;
    }
}

/* display modal when puzzle is successfully completed */
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    display: none;
}

.modal-content {
    width: 250px;
    height: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    top: 20%;
    background-color: #e6e5e5;
    background-image: url(images/confetti.gif);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation-name: modal-scale-animation;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes modal-scale-animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.modal-text {
    margin: 0 0 20px;
}

.modal-text > h1 {
    color: rgb(2, 2, 72);
    color: #ffd700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    margin: 0;
    font-size: 30px;
    padding: 0;
    user-select: none;
    text-align: center;
    animation-name: congratulations;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    width: 0;
    overflow: hidden;
}

@keyframes congratulations {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
        overflow: visible;
    }
}

.modal-text > div {
    font-size: 14px;
    text-align: center;
}

.modal-back-button,
.modal-restart-button {
    font-size: 12px;
    padding: 4px 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: none;
    background-color: var(--puzzle-border-colour);
    color: white;
    transform: skewX(-10deg);
    transition: all 200ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.modal-restart-button {
    margin-top: 5px;
}

.modal-back-button:focus,
.modal-restart-button:focus {
    border: none;
    border-radius: 6px;
    outline: 2px solid rgba(112, 94, 70, 1);
    outline-offset: 1px;
}

@media (min-width: 992px) {
    .modal-content {
        width: 350px;
        top: 50%;
        transform: translateY(-50%);
    }

    .modal-text > h1 {
        font-size: 40px;
    }

    .modal-back-button,
    .modal-restart-button {
        display: inline-block;
    }

    .modal-restart-button {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}
