*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    overflow: hidden;

    background-color: #b0916e;
    /* background-image: url(images/annie-spratt-xvU-X0GV9-o-unsplash.jpg); */
}

main {
    width: 100%;
    height: 100vh;
    height: 100svh;

    background-color: #b0916e;
    background-image: url(images/body-mobile-image.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    main {
        background-image: url(images/body-desktop-image.png);
    }
}

main>div {
    width: 200%;
    height: 100%;
    max-height: 550px;
    /* background-color: green; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;

    display: flex;
    flex-direction: row;
    /* background-color: red; */
}

/* home page */

.home-page {
    width: 100vw;
    height: 100%;
    position: relative;
}

.game-title {
    text-align: center;
    padding-top: 0;
    /* margin-bottom: 80px; */
    user-select: none;
}

.game-title>div {
    font-size: 14px;
}

.game-title>h1 {
    margin: 0;
    font-family: cursive;
    font-size: 50px;
    padding: 0;
}

.wave-animated-button {
    overflow: hidden;
    position: relative;
}

.wave-animated-button>span {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    animation-name: button-wave-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.home-page-play-button {
    width: 125px;
    height: 35px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: teal;
    color: black;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-page-play-button:focus {
    border: none;
    outline: 2px solid rgba(112, 94, 70, 1);
    outline-offset: 1px;
}

.home-page-play-button>span {
    width: 10px;
    height: 10px;
    outline: 5px solid rgba(255, 0, 0, 0.3);
}

@keyframes button-wave-animation {
    from {
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        transform: translate(-50%, -50%) scale(10);
    }
}

.random-facts {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 10%;
    padding: 10px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* background-color: rgb(112, 94, 70); */
    background-color: rgba(112, 94, 70, 0.5);
}

.random-facts::before {
    content: " ";
    /* background-color: rgb(112, 94, 70); */
    background-color: rgba(112, 94, 70, 0.5);
    width: 10px;
    height: 10px;
    position: absolute;
    top: -0.5px;
    /* left: -4px; */
    left: -9.5px;
    display: inline-block;
    /* transform: skewX(40deg); */
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

.random-facts-header {
    margin: 0;
    margin-bottom: 10px;
    font-family: cursive;
    font-size: 22px;
}

@media (max-height: 320px) {
    /* .game-title {
        margin-bottom: 50px;
    } */

    .random-facts {
        padding: 8px 13px;
    }

    .random-facts-header {
        margin-bottom: 4px;
        font-size: 22px;
    }

    .random-facts-main-content {
        font-size: 14px;
    }
}

/* menu page */

.menu-page {
    width: 100vw;
    height: 100%;

    /* background-color: yellow; */
    position: relative;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* background-color: blue; */
}

.menu-item {
    padding: 2px 15px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    font-family: cursive;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    transition: all 200ms ease-in;
}

.menu-item:hover {
    background-color: rgba(112, 94, 70, 0.5);
}

.menu-item:focus {
    border: none;
    outline: 2px solid rgba(112, 94, 70, 1);
    /* outline-offset: 1px; */
}

@media (max-width: 320px) or (max-height: 320px) {
    .menu-item {
        font-size: 22px;
    }
}

.menu-item-page {
    background-color: #b0916e;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    transition: all 200ms linear;
    padding: 5px;
    overflow-y: auto;
}

.display-menu-item-page-with-js {
    top: 0;
}

.puzzle-page {
    /* rgb(48, 45, 116) */
    background-color: #f0eefc;
    
    background-image: url(images/puzzle-mobile-image.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    .puzzle-page {
        background-image: url(images/puzzle-desktop-image.png);
    }
}

.back-to-main-menu-button {
    width: 100px;
    border-radius: 8px;
    transform: skewX(10deg);

    margin-bottom: 20px;
}

.back-to-main-menu-button {
    border: none;
    font-size: 14px;
    padding: 5px 0;
    transform: skewX(-10deg);
    letter-spacing: 1px;
    background-color: teal;
    color: black;
    cursor: pointer;
    user-select: none;
    transition: all 200ms ease-in;
}

.back-to-main-menu-button:focus {
    border: none;
    border-radius: 6px;
    outline: 2px solid rgba(112, 94, 70, 1);
    outline-offset: 1px;
}

.back-to-main-menu-button>span {
    width: 10px;
    height: 10px;
    outline: 5px solid rgba(255, 0, 0, 0.3);
}

/* the puzzle */

.puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    /* background-color: green; */
}

.puzzle {
    width: 100%;
    max-width: 350px;
    display: grid;

    /* background-color: blue; */
    border: 2px solid rgb(48, 45, 116);
}

.cell {
    border: 1px solid rgb(180, 179, 198);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(48, 45, 116);
    transition: all 200ms ease-in;
}

.cell:hover {
    background-color: #c9ced4;
    background-color: rgba(0, 0, 0, 0.1);
}

.cell:focus {
    outline: none;
    /* background-color: rgb(180, 217, 250); */
    background-color: rgba(180, 217, 250, 0.7);
}

/* .puzzle>div[data-default-value] {
    color: #000;
} */
[data-default-value] {
    color: #000;
}

/* .puzzle>div:focus {
    outline: none;
    background-color: rgb(180, 217, 250)
} */

/* states of the cells and their inputs (added with Js) */
.focused-cells-environment {
    /* background-color: #d5e1ef; */
    background-color: rgba(213, 225, 239, 0.7);
}

/* .wrong-input {
    color: rgb(249, 102, 80);
}
.other-occurrence-of-wrong-input {
    background-color: rgba(249, 102, 80, 0.3);
} */

.cell-is-in-wrong-row,
.cell-is-in-wrong-column,
.cell-is-in-wrong-block {
    background-color: rgba(249, 102, 80, 0.3);
}

/*  */

/* .default-value {
    background-color: white;
} */

.easy-level-puzzle {
    grid-template-columns: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.medium-level-puzzle {
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hard-level-puzzle {
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* to add borders around the blocks */
div.border-right {
    border-right: 2px solid rgb(48, 45, 116);
}

div.border-bottom {
    border-bottom: 2px solid rgb(48, 45, 116);
}
/*  */

.puzzle-keyboard {
    width: 100%;
    max-width: 350px;
    display: grid;
    column-gap: 5px;
    row-gap: 10px;
}

.easy-level-puzzle-keyboard {
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.medium-level-puzzle-keyboard {
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
}

.hard-level-puzzle-keyboard {
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.puzzle-keyboard>button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: all 200ms ease-in;
}

.puzzle-keyboard>button:focus {
    border: none;
    outline: 2px solid rgba(112, 94, 70, 1);
    outline-offset: 1px;
}

.puzzle-keyboard>button:not(:last-child) {
    font-size: 22px;
    /* background-color: rgba(48, 45, 116, 0.2); */
    background-color: #e0e6ee;
    color: rgb(107, 112, 212);
    /* background-color: rgb(1, 1, 52); */
}

.puzzle-keyboard>button:not(:last-child):hover {
    /* background-color: rgba(224, 230, 238, 0.7);
    background-color: #c9ced4; */
    background-color: #d4dbe2;
}

.easy-level-puzzle-keyboard>button:not(:last-child),
.medium-level-puzzle-keyboard>button:not(:last-child) {
    padding: 7px 12px;
}

.restart-puzzle-button {
    padding: 10px 0;
    background-color: rgb(107, 112, 212);
    color: #fff;
}

.restart-puzzle-button:hover {
    background-color: rgb(100, 105, 195);
}

.easy-level-puzzle-keyboard > .restart-puzzle-button {
    grid-column: 1 / span 4;
}

.medium-level-puzzle-keyboard > .restart-puzzle-button {
    grid-column: 1 / span 6;
}

.hard-level-puzzle-keyboard > .restart-puzzle-button {
    grid-column: 3 / span 5;
}

@media (min-width: 768px) {
    .puzzle-container {
        position: relative;
        top: 40%;
        transform: translateY(-40%);
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        align-items: flex-end;
    }

    .puzzle-keyboard {
        gap: 5px;
    }

    .easy-level-puzzle-keyboard {
        max-width: 200px;
        grid-template-columns: auto auto auto;
        justify-content: unset;
    }

    .medium-level-puzzle-keyboard {
        max-width: 200px;
        grid-template-columns: auto auto auto;
        justify-content: unset;
    }

    .hard-level-puzzle-keyboard {
        width: auto;
        height: 280px;
        grid-template-columns: 75px 75px 75px;
        grid-template-rows: auto auto auto 55px;
        justify-content: unset;
    }

    .easy-level-puzzle-keyboard > .restart-puzzle-button {
        grid-column: 2 / span 2;
        margin-top: 0;
    }

    .medium-level-puzzle-keyboard > .restart-puzzle-button {
        grid-column: 1 / span 3;
        margin-top: 5px;
    }

    .hard-level-puzzle-keyboard > .restart-puzzle-button {
        grid-column: 1 / span 3;
        margin-top: 5px;
    }

    .puzzle-keyboard>button:not(:last-child) {
        font-size: 30px;
    }
}